/* 폰트 */
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Arita-buri-SemiBold';
    box-sizing: border-box;
}

:root {
    --accent-color: #e02929;
    --text-color: #d3d3d3;
    --background-color: #010107f0;
}

.body {
    margin: 0;
    font-family: 'Arita-buri-SemiBold';
}

a {
    font-family: 'Arita-buri-SemiBold';
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    border-radius: 5px;
}

.nav_logo {
    margin-left: 10px;
}

.nav_menu {
    color: var(--text-color);
    display: flex;
    list-style: none;
    padding-left: 20px;
}

.nav_menu li {
    padding: 8px 12px;
}

.nav_menu li:hover {
    color: var(--background-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}

.nav_menu li a:hover {
    color: var(--background-color);
}

.nav_search {
    display: flex;
    border-width: 2px;
    border-color: #d3d3d3;
    border-style: double;
    border-radius: 10px;
    width: 290px;
    height: 50px;
    margin-left: 30px;
    color: var(--text-color);
    padding: 13px;
}

.input_type {
    margin-left: 13px;
}

.button_type {
    margin-left: 10px;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.movie-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    margin: 10px;
    padding: 20px;
    width: 80%;
    justify-self: center;
    background-color: #C8D6DA;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.movie_img {
    width: 100%;
    border-radius: 20px;
}

.movie-card  h3 {
    font-size: 25px;
    text-align: center;
}

.movie-card .vote_average {
    font-size: 18px;
}